.hero {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #e7ecef;
  background-image: url(../img/hero-background.png);
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 910px) {
    padding-top: 55px;
  }

  @media screen and (min-width: 1300px) {
    padding-top: 95px;
    padding-bottom: 86px;
  }

  &__title {
    color: $title-color;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 16px;

    @media screen and (min-width: 910px) {
      font-size: 64px;
      margin-bottom: 40px;
    }
  }

  &__text {
    color: $text-color;
    font-size: 16px;
    font-weight: 350;
    line-height: 1.67;
    max-width: 628px;
    margin-bottom: 40px;

    @media screen and (min-width: 910px) {
      font-size: 24px;
    }
  }

  &__button {
    border: 1px solid $accent-color;
    color: $button-color;
    text-align: center;
    font-size: 24px;
    background-color: $accent-color;
    padding: 25px 16px;
    border-radius: 20px;
    background: $accent-color;
    display: none;

    @media screen and (min-width: 910px) {
      display: block;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1300px) {
      margin-bottom: 40px;
    }
  }

  &-img {
    width: 50px;
    height: 50px;
  }

  &__views {
    color: $text-color;
    font-size: 10px;
    font-weight: 300;
    line-height: 1.33;
    align-items: center;
    display: flex;

    @media screen and (min-width: 910px) {
      display: flex;
      font-size: 12px;
    }
  }

  &__content {
    display: flex;
    margin-bottom: 438px;

    @media screen and (min-width: 910px) {
      margin-bottom: 578px;
    }

    @media screen and (min-width: 1300px) {
      margin-bottom: 245px;
    }
  }

  &__stats {
    margin-left: 8px;
  }

  &__mark {
    font-weight: 400;
    margin-right: 5px;
    margin-left: 5px;
  }

  &__socials {
    display: flex;
    gap: 16px;
  }

  &__visitors {
    color: $title-color;
    font-size: 14px;
    font-weight: 350;
    line-height: 18px;
    margin-bottom: 5px;

    @media screen and (min-width: 910px) {
      font-size: 18px;
    }
  }
}

.hero-container {
  position: relative;
}

.hero-yoga-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.hero-yoga {
  margin-left: 15px;
  margin-bottom: 79px;
}

.hero-yoga1 {
  margin-bottom: 6px;
  margin-right: 330px;
}

.hero__button {
  transition-property: background-color, color;
  transition-duration: 250ms;
}

.hero__button:hover {
  background-color: #e7ecef;
  color: $accent-color;
}
.hero__title::before{
  content: "";
  display: block;
  width: 30px;
    height: 30px;
    background-color: $accent-color;
    position: absolute;
    top: -18px;
    left: 18px;
    transform: rotate(45deg);
}
