:root {
  --accent-color: #1f6c94;
  --text-color: #555d65;
  --title-color: #111517;
  --footer-color: #fff;
  --button-color: #e7ecef;
  --icons-color: #5c686d;
  --secondary-text-color: #5c686d;
}

body {
  font-family: Raleway;
}
.container {
  width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
  outline: blueviolet solid 3px;
}
.header-box {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 34px;
}

.header-logo {
  color: var(--title-color);
  font-size: 32px;
  margin-right: 162px;
}

.header-list {
  display: flex;
  margin-right: 74px;
}

.header-item {
  margin-right: 23px;
}
.header-item:last-child {
  margin-right: 0;
}

.header-link {
  color: var(--title-color);
  font-size: 24px;
}

.header-link:hover {
  color: var(--accent-color);
}

.header-btn {
  color: var(--accent-color);
  text-align: center;
  font-size: 16px;
  display: flex;
  width: 258px;
  height: 80px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid var(--Accent, #1f6c94);
}
.header-tel {
  display: block;
}

.hero {
}

.hero-title {
  color: var(--title-color);
  font-size: 64px;
  font-weight: 500;
}

.hero-text {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 350;
  line-height: 1.67;
}

.hero-button {
  color: var(--button-color);
  text-align: center;
  font-size: 24px;
  background-color: var(--accent-color);
}

.hero-photo {
}

.hero-visitors {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 350;
  line-height: 1;
}

.hero-views {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33;
}

.program {
}

.program-title {
  color: var(--accent-color, #1f6c94);
  font-size: 40px;
  font-weight: 500;
}

.program-description {
  color: var(--secondary-text-color, #5c686d);
  text-align: center;
  font-size: 24px;
  font-weight: 350;
  line-height: 1.67;
}

.program-list {
}

.program-item {
}

.program-name {
  color: var(--accent-color, #1f6c94);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.47;
}

.program-info {
  color: var(--Paragraph, #555d65);
  text-align: center;
  font-size: 16px;
  line-height: 0.97;
}

.program-foto {
}

.program-button {
  color: var(--accent-color, #1f6c94);
  font-size: 14px;
}
.trainer-title {
  color: var(--accent-color, #1f6c94);
  font-size: 40px;
  font-weight: 500;
}
.trainer-text {
  color: var(--text-color, #555d65);
  font-size: 24px;
  line-height: 1.5;
}
.trainer-name {
  color: var(--accent-color #1f6c94);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
}
.trainer-description {
  color: var(--title-color, #111517);
  font-size: 24px;
  font-weight: 500;
  line-height: 2;
}
