:root {
  --accent-color: #1f6c94;
  --text-color: #555d65;
  --title-color: #111517;
  --footer-color: #fff;
  --button-color: #e7ecef;
  --icons-color: #5c686d;
  --secondary-text-color: #5c686d;
  --grid-gap: 20px;
  --cards: 4;
}

body {
  font-family: Raleway;
}
.container {
  width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.soclials-icons {
  stroke: var(--icons-color);
  fill: transparent;
  width: 44px;
  height: 44px;
  stroke-opacity: 1;
}

.soclials-item:nth-child(1) > .soclials-icons {
  stroke-width: 2px;
  stroke: var(--icons-color);
}

.soclials-icons:hover {
  stroke: var(--accent-color);
  box-shadow: var(--accent-color) 1px 2px 15px 4px;
}

.grid-list {
  display: flex;
  justify-content: center;
  gap: var(--grid-gap);
}

.grid-item {
  width: calc((100% - var(--grid-gap) * var(--cards)) / var(--cards));
}



.program {
  padding-top: 120px;
  padding-bottom: 120px;
}

.program-title {
  color: var(--accent-color, #1f6c94);
  font-size: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.program-description {
  color: var(--secondary-text-color, #5c686d);
  text-align: center;
  font-size: 24px;
  font-weight: 350;
  line-height: 1.67;
  margin-bottom: 54px;
}

/*.program-list {} */

.program-item {
  background-color: var(--button-color);
  border-radius: 20px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-right: 16px;
}

.program-name {
  color: var(--accent-color, #1f6c94);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.47;
  margin-bottom: 24px;
}

.program-info {
  color: var(--Paragraph, #555d65);
  text-align: center;
  font-size: 16px;
  line-height: 0.97;
}
.program-romb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  margin-bottom: 20px;
}
.program-button {
  color: var(--accent-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
  margin-bottom: 17px;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid var(--accent-color);
  font-family: "KyivType Sans";
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.program-icon {
  stroke: var(--accent-color);
  fill: transparent;
  width: 17px;
  height: 13px;
  stroke-width: 2px;
}
.trainer {
  background-color: #e7ecef;
  height: 835px;
}
.trainer-box {
  display: flex;
}
.trainer-img {
  margin-top: 120px;
  margin-bottom: 60px;
  margin-left: 95px;
  margin-right: 128px;
  height: 512px;
}
.trainer-9 {
  position: absolute;
  margin-top: 93px;
  margin-left: 43px;
}
.back-yoga-tree {
  position: absolute;
  margin-top: 60px;
  margin-left: -30px;
}
.trainer-descript {
  width: 634px;
  margin-top: 120px;
}
.trainer-title {
  color: var(--accent-color, #1f6c94);
  font-family: KyivType Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 40px;
}

.trainer-text {
  color: var(--text-color, #555d65);
  width: 630px;
  margin-bottom: 110px;
  font-family: KyivType Sans;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 36px;
}
.trainer-article {
  display: flex;
}
.arrow {
  margin-left: 80px;
}

.trainer-name {
  color: var(--accent-color);
  font-family: KyivType Sans;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: 16px;
}


.trainer-button{
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  border:2px solid var(--accent-color);
}


.trainer-icon{
fill: transparent;
stroke: var(--accent-color);
width: 24px;
height: 16px;

}


.trainer-description {
  color: var(--title-color, #111517);
  font-family: KyivType Sans;
  margin-top: 22px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 2;
}
.ticket {
  margin-bottom: 186px;
  margin-top: 106px;
}
.ticket-article {
  border-radius: 10px;
  background: #e7ecef;
}
.ticket-title {
  color: #1f6c94;
  font-family: KyivType Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}
.ticket-description {
  color: #555d65;
  font-family: KyivType Sans;
  font-size: 24px;
  font-style: normal;
  line-height: 150%;
  margin-bottom: 112px;
}
.ticket-price {
  width: 297px;
  color: #1f6c94;
  font-family: KyivType Sans;
  font-size: 58px;
  font-weight: 500;
  line-height: 63.8px;
  padding-top: 26px;
  margin-bottom: 60px;
  margin-left: 26px;
  margin-right: 37px;
}
.ticket-info {
  width: 308px;
  height: 59px;
  color: #1f6c94;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.52px;
  margin-bottom: 40px;
  margin-left: 26px;
  margin-right: 26px;
}
.ticket-button {
  color: #e7ecef;
  text-align: center;
  margin-left: 195px;
  margin-bottom: 26px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  width: 139px;
  height: 43px;
  border-radius: 20px;
  background-color: #1f6c94;
}
.ticket-polygon {
  position: absolute;
  display: block;
  margin-left: 175px;
  margin-top: 16px;
}
.ticket-list {
  --grid-gap: 73px;
}
.ticket-item {
  height: 318px;
  --cards: 3;
}
.ticket-item-two {
  border-radius: 10px;
  background-color: #1f6c94;
  --cards: 3;
}
.ticket-price-two {
  width: 297px;
  color: #e7ecef;
  font-family: KyivType Sans;
  font-size: 58px;
  font-weight: 500;
  line-height: 63.8px;
  margin-top: 26px;
  margin-bottom: 60px;
  margin-left: 26px;
  margin-right: 37px;
}
.ticket-info-two {
  width: 308px;
  height: 59px;
  color: #e7ecef;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.52px;
  margin-bottom: 40px;
  margin-left: 26px;
  margin-right: 26px;
}
.ticket-button-two {
  color: #1f6c94;
  text-align: center;
  margin-left: 195px;
  margin-bottom: 26px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  width: 139px;
  height: 43px;
  border-radius: 20px;
  background-color: #e7ecef;
}

.schedule {
  padding-top: 120px;
  background-color: var(--button-color);
}

.schedule-boxing:nth-child(odd) {
  display: flex;
  justify-content: space-around;
}

.schedule-title {
  color: var(--accent-color);
  font-size: 40px;
  font-style: normal;
  display: flex;
  margin-bottom: 36px;
  margin-top: 120px;
}

.schedule-time {
  color: var(--title-color);
  font-size: 20px;
  font-style: normal;
  margin-bottom: 20px;
}

.schedule-box {
  margin-left: 36px;
}

.schedule-list {
  margin-top: 64px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
.schedule-photo {
  margin-left: 137px;
  margin-bottom: 53px;
}

.schedule-information {
  color: var(--accent-color);
  font-size: 40px;
  font-style: normal;
  margin-bottom: 36px;
  margin-top: 120px;
}

.schedule-street {
  color: var(--title-color);
  font-size: 20px;
  font-style: normal;
  margin-bottom: 80px;
}

.schedule-watch {
  color: var(--title-color);
  font-size: 20px;
  font-style: normal;
  letter-spacing: 1.28px;
}

.schedule_pointer {
  margin-top: 64px;
}

.youga {
  background-color: var(--accent-color);
  height: 120px;
  padding-top: 48px;
}
.youga-box {
  display: flex;
  align-items: center;
}
.youga-title {
  color: var(--footer-color);
  font-family: KyivType Sans;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.28px;
  margin-right: 343px;
}
.youga-copyright {
  color: var(--footer-color);
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
