
    $accent-color: #1f6c94;
    $text-color: #555d65;
    $title-color: #111517;
    $footer-color: #fff;
    $button-color: #e7ecef;
    $icons-color: #5c686d;
    $secondary-text-color: #5c686d;
    $grid-gap: 20px;
    $cards: 4;
