body {
    font-family: Raleway;
}

.container {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    outline: solid red;
    
    @media screen and (min-width: 910px){
        max-width: 910px;
    }

    @media screen and (min-width: 1300px){
        max-width: 1300px;
    }
}